body, h1, h2, h3, h4, h5, ul {
	margin: 0;
	padding: 0;
}
#mainWrapper {

}
/*------------------navigation----------------------*/

#logo {
	display: inline-block;
	width: 8%;
	padding: 5px;
	margin: 0;
}
#logo h5 {
	margin-left: 10%;
}

#navList {
	width: 80%;
	display: inline-block;
	padding: 0;
	margin: 0;
}
#navList ul {
	padding: 5px;
}
#navList li {
	list-style: none;
	display: inline-block;
	margin-left: 3%;
}
/*-----------------------banner--------------------------*/
#banner {
	position: relative;
	width: 100%;
	height: 370px;
	background-image: url("background.jpg");
	background-position: 0px -15px;	
	margin-bottom: 60px;
}

#bannerText {
	position: absolute;
	top: 130px;
	left: 35%;
}
#bannerText h1 {
	margin: 0;
	padding: 0;
	color: white;
	text-shadow: 1px 1px 1px black;
	font-size: 45px;
	text-align: center;
}
#simpleTitle {
	padding-bottom: 15px;
}
#simpleSub {
	position: absolute;
	top: 150px;
}
/*----------------mainContent----------------*/
#mainContent {
	width: 80%;
	margin: 0 auto;
	clear: both;
}
.plansContainer {
	background-color: grey;
	height: 400px;
	width: 30%;
	float: left;
	margin-right: 3%;
}
.colorBox {
	height: 200px;
	width: 100%;
}
#personal {
	
}
#greenPrice {
	background-color: #519251;
}

#smallBusiness {
	
}
#bluePrice {
	background-color: #2C4985;
	
}
#enterprise {

}
#blackPrice {
	background-color: #111111;
	
}